*{
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Vibes';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Vibes Regular'), local('Vibes-Regular'), url(https://fonts.gstatic.com/s/vibes/v1/QdVYSTsmIB6tmYdwFJc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar {
    background-color: #7f8688;
}
::-webkit-scrollbar-thumb {
    background: gainsboro;
}

body {
    background-image: linear-gradient(to top right, #7f8688, #929d9e);
    color: white;
    text-align: center;
    margin: 0 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header {
    top: 0px;
    width: 100%;
    position: fixed;
    height: 69px;
    font-size: 35px;
    z-index: 15;
    border-bottom: 2px solid white;
    display: flex;
    background-color: #7f8688;
    opacity: 90%;
}

nav {
    width: 100%;
    text-align: center;
    display: flex;
}

header span {
    flex-grow: 1;
    flex-shrink: 1;
}

header a {
    flex-grow: 1;
    flex-shrink: 1;
    transition: all 330ms ease-in-out;
    text-decoration: none;
    color: white;
    font-family: Vibes, sans-serif;
}

a:hover {
    color: #F3E367;
    text-shadow: 1px 1px black;
}

.dropdownMenu {
    position: absolute;
    background-color: #7f8688;
    z-index: 18;
    height: 130px;
    width: 300px;
    display: none;
    font-size: 28px;
    right: 108px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.dropdownMenu ul {
    list-style: none;
    padding: 0 0;
    margin: auto 0;
}

.flex-container {
    display: flex;
    justify-content: center;
}

/* start of mobile nav */

.burgerBtn {
    height: 90%;
    font-size: 90px;
    position: absolute;
    color: white;
    display: none;
}

aside {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    right: -100vw;
    background-color: #fff;
    z-index: 2000;
}

aside {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    right: -100vw;
    background-color: white;
    z-index: 2000;
}

.asideMargins {
    width: 90%;
    height: 90%;
    position: relative;
    margin: auto;
    top: 1.5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.asideNav {
    padding-top: 7%;
    position: relative;
    display: flex;
    flex-direction: column; 
    font-size: 96px;
}

.asideNav {
    text-align: right;
}

.asideNav li {
    margin: 30px;
}

.asideNav li, .asideNav li a {
    text-decoration: none;
    color: black;
}

.out {
    color: black !important;
    left: 5px !important;
    right: unset !important;
}
.navMenu {
    display: flex;
}

ul {
    list-style: none;
}

.navMenu li{
    margin: auto;
}

.navMenu li a, .navAboutMe {
    color: lightgrey;
    text-decoration: none;
    transition: all 400ms;
    cursor: pointer;
}

/* end of mobile nav */

main {
    top:69px;
    position: relative;
    width: 100vw;
    height: -webkit-fill-available;
    height: -moz-available;
}

.uploadSpotForm {
    left: 0;
    position: relative;
    width: 40%;
    height: 100%;
    overflow-y: scroll;
}

.uploadSpotForm h1 {
    position: relative;
    width: 90%;
    text-align: left;
    margin: 30px auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    padding-bottom: 20px;
    font-size: 21px;
}

form label {
    width: fit-content;
    padding:  10px 0;
}

form input, form textarea {
    margin: 0 0 25px 0;
    background-color: transparent;
    border: solid darkgrey 1px ;
    font-size: 1.2rem;
    border-radius: 6px;
}

form input[name="submit"] {
    cursor: pointer;
    color: white;
}

.invalidInput {
    border: solid red 1px;
    color: red;
}

#mapInvalid {
    color: red;
    display: none;
}

form .invalidInput:focus {
    color: black;
}

#locationSelector {
    width: 100%;
    height: 200px;
    position: relative;
}

.spotTemplate {
    position: fixed;
    height: 100%;
    top: 69px;
    background: #929d9e;
    overflow: scroll;
    width: 60%;
    right: 0;
    padding-bottom: 40px;
}

.flex { 
    display: flex;
    position: relative;
    width: 95%;
    height: 50px;
    align-items: center;
    left: 5%;
}

#arrow {
    right: 2px;
    height: 30px;
    position: absolute;
    margin: 0 auto;
    filter: invert(1);
    -moz-transition: transform 500ms;
    -webkit-transition: transform 500ms;
    transition: transform 500ms;
    cursor: pointer;
}

#section1Img {
    width: 90%;
    margin: auto;
    height: 500px;
    display: flex;
    border: solid 1px white;
    border-radius: 5px;
}

#section1Img h1 {
    margin: auto;
    position: relative;
}

#section1Img img {
    width: 100%;
}

#section1Desc {
    margin: 30px;
}

.gallaryGrid {
    display: flex;
    overflow-x: scroll;
    width: 90%;
    padding-bottom: 20px;
    margin: 50px auto;
}

.gallaryGrid img {
    height: 170px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    justify-self: center;
}

.addImg {
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 1px dotted black;
}

.section1Comments {
    width: 90%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    margin-bottom: 100px;
    border-top: 1px white solid;
}

.section1Comments h4 {
    width: fit-content;
}

.writeComment {
    width: 100%;
    display: flex;
}

.writeComment input[type="text"] {
    background-color: transparent;
    border: transparent;
    border-bottom: lightgray solid 1px;
    color: white;
    font-size: 18px;
    margin-right: 10px;
}

.writeComment input[type="text"]:hover {
    border-bottom: lightgray solid 3px;
}

.writeComment input[type="text"]:focus {
    border-bottom: #F3E367 solid 3px;
    color: #F3E367;
}

.writeComment input[name="commentContent"] {
    width: 100%;
}

#commentSubmit {
    right: 0px;
    position: relative;
    width: 10%;
    margin-top: 10px;
}

#commentSubmit:hover {
    background-color: #F3E367;
}

.comments {
    width: fit-content;
    position: relative;
    margin: 50px 0;
}

.comments h5 {
    width: fit-content;
    margin-bottom: 0;
}

.successUpload {
    width: 100vw;
    height: 100vh;
    opacity: 85%;
    position: absolute;
    top: -100%;
    display: none;
    background-color: #7f8688;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.successUpload h1 {
    color: #F3E367;
    position: absolute;
    top: 30%;
    font-size: 50px;
    font-family: Nunito, sans-serif;
}

.uploadOrHome {
    display: flex;
    width: 90%;
    top: 10%;
    position: relative;
    font-size: 40px;
    justify-content: space-around;
}

.uploadOrHome a {
    color: #F3E367;
}

@media (orientation: portrait) {
    .spotTemplate {
        display: none;
    }
    .uploadSpotForm {
        width: 100%;
    }
    .uploadSpotForm h1 {
        font-size: xx-large;    
    }
    #locationSelector {
        height: 400px;
    }
    header {
        height: 150px;
        align-items: center;
    }
    .burgerBtn {
        display: inline-block;
        right: 5px;
    }
    .navMenu {
        display: none;
    }
    nav {
        width: fit-content;
        top: 0;
        display: none;
    }
    main {
        top: 150px;
    }
}